
.box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.box-item {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width: 400px;
    height: 400px;
}